{% extends 'main/basic.html' %}
{% load static %}
{% block title %}
О Сайте
{% endblock %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% block content %}


{% load django_bootstrap5 %}

 <section class="main-section">
        <div class="content">
            <div class="main-content">
                <span class="razb">Разработка проектов для любого типа помещений</span>
                <h1>Проектирование для коммерческих объектов любой сложности под ключ</h1>
                <p>Снизим сметную стоимость вашего проекта до <strong>65%</strong></p>
                <p>* за счёт оптимизации проекта и нетиповых решений, которые подойдут вашему бизнесу</p>
                <div class="info">
                    <button class="btn-primary">Получить КП в 3-х вариантах</button>
                    <p class="small-text">Узнаем, за какой срок и за какую стоимость проект</p>
                </div>
            </div>
            <div class="main-image">
                <img src="{% static 'main/images/SeconBanner/ImageTex.svg' %}" alt="План">
            </div>
        </div>
    </section>

    <section class="features-section">
        <div class="features content">

            <div class="feature-item">
                <div class="i">
                    <img src="{% static 'main/images/key.png' %}" alt="g">
                </div>
                <div class="feature_sub-item">
                    <h5>Работаем как и "под ключ", так и на разных этапах</h5>
                    <p>От оформления заявки до <strong>сдачи инспектору</strong> из надзорных органов</p>
                </div>
            </div>

            <div class="feature-item">
                <div class="i">
                    <img src="{% static 'main/images/car.png' %}" alt="g">
                </div>
                <div class="feature_sub-item">
                    <h5>Выездная консультация и замер</h5>
                    <p>Выезжаем на объект в течение <strong>1-2 дней</strong></p>
                </div>
            </div>
            <div class="feature-item">
                <div class="i">
                    <img src="{% static 'main/images/like.png' %}" alt="g">
                </div>
                <div class="feature_sub-item">
                    <h5>Безопасно и законно</h5>
                    <p>Соблюдаем технику безопасности и регламенты <strong>ГОСТов, СНИПов и ПУЭ</strong></p>
                </div>
            </div>
            <div class="feature-item">
                <div class="i">
                    <img src="{% static 'main/images/document.png' %}" alt="g">
                </div>
                <div class="feature_sub-item">
                    <h5>Надежно и прозрачно</h5>
                    <p>Работаем по договору с <strong>фиксированием цены</strong>, которая <strong>не изменится</strong> в процессе работы</p>
                </div>
            </div>
        </div>
    </section>

    <section class="steps-section">
        <div class="content">
            <h2>Инженерные коммуникации вашего объекта “под ключ” от проектирования, до запуска и регулярного обслуживания</h2>
            <div class="steps">
                <div class="step-item">
                    <h5>Подбор комплектации</h5>
                    <p>Подбор оптимального варианта комплектации оборудования под ваши потребности и цели</p>
                </div>
                <div class="step-item">
                    <h5>Проект</h5>
                    <p>Создание проекта. Работу выполняет аккредитованная проектная группа</p>
                </div>
                <div class="step-item">
                    <h5>Монтаж</h5>
                    <p>Монтаж инженерных систем в строгом соответствии с технологией производства работ, с неизменным качеством</p>
                </div>
                <div class="step-item">
                    <h5>Испытания</h5>
                    <p>Запуск и испытание систем в различных режимах, вывод на проектные мощности</p>
                </div>
                <div class="step-item">
                    <h5>Обслуживание</h5>
                    <p>Гарантийное и постгарантийное техническое обслуживание</p>
                </div>
            </div>
        </div>
    </section>

    <section class="benefits-section">
        <div class="content">
            <p>Получите все в одном месте строго в договорные строки, это отличный способ сэкономить</p>
            <ul>
                <li>Время</li>
                <li>Нервы</li>
                <li>Деньги</li>
            </ul>
        </div>
    </section>



    <!-- Новая секция -->
    <section class="why-us-section">
        <div class="content">

            <h2>Почему из сотен архитектурных бюро нас выбирают для проектирования сложных проектов?</h2>
            <div class="why-us-grid">
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Качество документации</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Расчет нагрузок без "перезакладов"</li>
                        <li>Подробная и понятная проектная документация</li>
                        <li>Детальная рабочая документация для строителей</li>
                    </ul>
                </div>
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Смета в комплекте</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Для каждого проекта делаем смету в реальных рыночных ценах на стройматериалы и работы подрядчиков</li>
                    </ul>
                </div>
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Понятная цена и сроки</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Прозрачная цена проекта, достаточная комплектация материалов</li>
                        <li>Делаем экономически выгодные проекты</li>
                    </ul>
                </div>
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Гарантируем сроки и стоимость</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Система управления проектированием и проект точно в срок</li>
                    </ul>
                </div>
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Неограниченные правки</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Корректируем проект столько, сколько нужно для достижения желаемого результата</li>
                        <li>Вовлечение в ваш проект</li>
                    </ul>
                </div>
                <div class="cta-box">
                    <p>Экономим клиентам 20-30% на строительстве за счет расчета нагрузок конструкторами и отсутствию ненужных "перезакладов".</p>
                    <button class="btn-primary">Получить КП</button>
                </div>
            </div>
        </div>
    </section>

    <section class="design-section">
        <div class="content">

            <h2>Проектируем для всех коммерческих и муниципальных объектов</h2>
            <div class="design-options">
                <div class="design-option">
                    <img src="{% static 'main/images/5bba6d47728711ef913c46f0d608bafb_1.jpeg' %}" alt="g">
                    <h3>Общественные места с большим количеством энергопотребителей</h3>
                    <p>Магазины, ТЦ, кафе, рестораны, кальянные, пиццерии, пекарни, бассейны, бани, сауны, SPA, офисы, фитнес-клубы, гостиницы</p>
                </div>
                <div class="design-option">
                    <img src="{% static 'main/images/0fb7565a728711efb929f630e7d772d9_1.jpeg' %}" alt="g">
                    <h3>Промышленные предприятия, государственные учреждения</h3>
                    <p>Производства, цеха, склады, заводы, школы, детсады, медицинские учреждения, концертные залы</p>
                </div>
                <div class="design-option">
                    <img src="{% static 'main/images/image 8.png' %}" alt="g">
                    <h3>Все виды инженерных систем</h3>
                    <p>Отопление, вентиляция и кондиционирование, канализация</p>
                </div>
            </div>

            <div class="design-cta">
                <div class="sub">
                    <h4>В списке нет что Вам необходимо?</h4>
                    <p>
                        Мы можем выполнить практически любые работы по
                        проектированию, даже если они не указаны на сайте.
                        Оставьте заявку и мы проконсультируем Вас.
                    </p>
                </div>
                <button class="btn-primary">Заказать консультацию</button>
            </div>
        </div>
    </section>
<!-- images -->
<div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Индикаторы -->
    <ol class="carousel-indicators">
        {% for image in images_page_obj %}
        <li data-bs-target="#imageCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>

    <!-- Сами слайды -->
    <div class="carousel-inner">
        {% for image in images_page_obj %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            {% if image.image %}
            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.title }}">
            {% endif %}
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ image.title }}</h5>
                <p>{{ image.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Элементы управления каруселью -->
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущее</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующее</span>
    </button>
</div>

    <!-- !! -->

    <div class="consultation-section">
        <div class="content">

            <div class="calculator-info">
                <h2>УЖЕ СЕЙЧАС МОЖНО РАССЧИТАТЬ ПРЕДВАРИТЕЛЬНЫЕ <br><span class="highlight">СРОКИ И СТОИМОСТЬ РАБОТ</span></h2>

                <div class="grid">
                    <div class="specialist">
                        <img src="{% static 'main/images/looper.svg' %}" alt="decor">
                        <img src="{% static 'main/images/Илья Берёзкин.png' %}" class="persona" alt="Илья Берёзкин" class="specialist-img">
                        <div class="specialist-info">
                            <p class="specialist-name">Илья Березкин</p>
                            <p class="specialist-title">Руководитель <span>"Технической завязки"</span></p>
                        </div>
                    </div>
                    <div class="special-info">
                        <p>Мы не используем «псевдо» калькуляторы на сайте!</p>
                        <p>«Наш специалист подготовит расчёт полной стоимости объекта в течение 1 рабочего дня»</p>
                        <p class="guarantee">ПОСЛЕ ОТВЕТОВ НА ВОПРОСЫ ВЫ <span class="highlight">ГАРАНТИРОВАНО</span> ПОЛУЧИТЕ:</p>
                        <p>Коммерческое предложение в 3-х вариантах</p>
                    </div>
                </div>

                <div class="button">
                    <button class="cta-button">Ответить на вопросы</button>
                </div>
            </div>
        </div>
    </div>

    <!-- !! -->
    <div class="contact-section">
        <div class="content">

            <div class="grid">
                <div class="information">
                    <div class="over">
                        <h2><span>Успешно сотрудничаем</span><br>с отделами снабжения и комплектации</h2>
                        <ul>
                            <p>Получите:</p>
                            <li>Лучшее предложение по "Цене/Срокам" под ваш бюджет</li>
                            <li>Благодарность руководства компании за выбор подрядчика по проектным работам</li>
                        </ul>
                    </div>
                    <div class="discount-info">
                        <p><span class="checkmark">✔</span><span>Предусмотрена система скидок и бонусов</span></p>
                    </div>
                </div>
                <div class="consultation-form">
                    <h3>Оставьте заявку на консультацию</h3>
                    <form action="#" method="post">
                        <div class="input">
                            <label for="name">Как к вам обращаться?</label>
                            <input type="text" id="name" name="name" placeholder="Введите ваше имя" required>
                        </div>

                        <div class="input">
                            <label for="phone">Введите ваш номер</label>
                            <input type="tel" id="phone" name="phone" placeholder="+7 ( ) -" required>
                        </div>

                        <label for="time">Выберите время для звонка</label>
                        <div class="radio-group">
                            <div class="item">
                                <input type="radio" id="now" name="time" value="now">
                                <label for="now">Связаться сейчас по телефону</label>
                            </div>
                            <div class="item">
                                <input type="radio" id="whatsapp" name="time" value="whatsapp">
                                <label for="whatsapp">Согласовать время звонка в WhatsApp</label>
                            </div>
                        </div>

                        <button type="submit" class="cta-button">Получить консультацию</button>
                    </form>
                    <p class="privacy-note">Нажимая на кнопку, Вы соглашаетесь с условиями Политики конфиденциальности</p>
                </div>
            </div>

        </div>
    </div>
    <!-- 1 -->
    <div class="workflow-section">
        <div class="content">
            <h2 class="workflow-title">Посмотрите, как мы с вами будем работать</h2>
            <div class="workflow-steps">
                <div class="step">
                    <div class="step-number">1</div>
                    <p>Отправить нам заявку и узнать ориентировочную стоимость проектирования</p>
                </div>
                <div class="step">
                    <div class="step-number">2</div>
                    <p>Руководитель проектного отдела свяжется с Вами и по телефону уточнит ключевые моменты</p>
                </div>
                <div class="step">
                    <div class="step-number">3</div>
                    <p>Ответит на Ваши вопросы и расскажет о нюансах в проектировании</p>
                </div>
                <div class="step">
                    <div class="step-number">4</div>
                    <p>Договариваемся о встрече и обсуждаем детали</p>
                </div>
                <div class="step">
                    <div class="step-number">5</div>
                    <p>Согласовываем форму договора и приступаем к выполнению</p>
                </div>
            </div>

        </div>
    </div>

<!--    <div class="clients-section">-->
<!--        <div class="content">-->
<!--            <h2 class="clients-title">Наши клиенты — владельцы торговой и офисной недвижимости, застройщики и государственные учреждения</h2>-->
<!--            <div class="clients-logos">-->
<!--                <div><img src="{% static 'main/images/sber.png' %}" alt="Сбербанк"></div>-->
<!--                <img src="{% static 'main/images/akbars.png' %}" alt="Ак Барс Банк">-->
<!--                <img src="{% static 'main/images/vtb.png' %}" alt="ВТБ">-->
<!--                <img src="{% static 'main/images/gaz.png' %}" alt="Газпром">-->
<!--                <img src="{% static 'main/images/pad.png' %}" alt="РЖД">-->
<!--                <img src="{% static 'main/images/mts.png' %}" alt="МТС">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!-- SRO -->
  <div id="sroCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Индикаторы для SRO -->
    <ol class="carousel-indicators">
        {% for sro in sro_page_obj %}
        <li data-bs-target="#sroCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>

    <!-- Сами слайды для SRO -->
    <div class="carousel-inner">
        {% for sro in sro_page_obj %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            {% if sro.sro %}
            <img src="{{ sro.sro.url }}" class="d-block w-100" alt="{{ sro.title }}">
            {% endif %}
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ sro.title }}</h5>
                <p>{{ sro.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Элементы управления каруселью для SRO -->
    <button class="carousel-control-prev" type="button" data-bs-target="#sroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущее</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sroCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующее</span>
    </button>
</div>







{% endblock %}
