{% extends 'main/basic.html' %}
{% load static %}
{% block title %}
Проектирование ангаров, складов и металлоконструкций
{% endblock %}
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% block content %}

<section class="main-section">
    <div class="content">
        <div class="main-content">
            <span class="razb">Технический заказчик</span>
            <h1>Проектирование ангаров и складов из металлоконструкций под ключ</h1>
            <p>Снизим сметную стоимость проектирования ангаров до <strong>65%</strong></p>
            <p>* за счёт оптимизации проекта и использования сэндвич панелей и металлоконструкций</p>
            <div class="info">
                <button class="btn-primary">Получить КП на проект ангара или склада</button>
                <p class="small-text">Узнайте стоимость проектирования склада или ангара прямо сейчас</p>
            </div>
        </div>
        <div class="main-image">
            <img src="{% static 'main/images/31.webp' %}" alt="План ангара">
        </div>
    </div>
</section>

<section class="features-section">
    <div class="features content">
        <div class="feature-item">
            <div class="i">
                <img src="{% static 'main/images/key.png' %}" alt="ключ">
            </div>
            <div class="feature_sub-item">
                <h5>Проектирование ангаров и складов "под ключ"</h5>
                <p>Мы разрабатываем проекты от оформления заявки до сдачи объекта инспекторам</p>
            </div>
        </div>
        <div class="feature-item">
            <div class="i">
                <img src="{% static 'main/images/car.png' %}" alt="авто">
            </div>
            <div class="feature_sub-item">
                <h5>Выезд на объект для замеров</h5>
                <p>Выезжаем на объект для проектирования склада или ангара в течение <strong>1-2 дней</strong></p>
            </div>
        </div>
        <div class="feature-item">
            <div class="i">
                <img src="{% static 'main/images/like.png' %}" alt="like">
            </div>
            <div class="feature_sub-item">
                <h5>Проектирование ангаров и складов по ГОСТам и СНИПам</h5>
                <p>Соблюдаем все регламенты и стандарты безопасности</p>
            </div>
        </div>
        <div class="feature-item">
            <div class="i">
                <img src="{% static 'main/images/document.png' %}" alt="документ">
            </div>
            <div class="feature_sub-item">
                <h5>Прозрачное ценообразование</h5>
                <p>Заключаем договор на проектирование складов и ангаров с фиксированной стоимостью</p>
            </div>
        </div>
    </div>
</section>

<section class="steps-section">
    <div class="content">
        <h2>Проектирование ангаров и складов из металлоконструкций “под ключ”</h2>
        <div class="steps">
            <div class="step-item">
                <h5>Подбор комплектации</h5>
                <p>Выбираем оптимальные металлоконструкции и сэндвич панели для вашего ангара или склада</p>
            </div>
            <div class="step-item">
                <h5>Проектирование ангара или склада</h5>
                <p>Наши специалисты разрабатывают проект на основе ваших требований</p>
            </div>
            <div class="step-item">
                <h5>Монтаж металлоконструкций</h5>
                <p>Монтаж ангаров и складов по установленным технологиям с соблюдением всех норм</p>
            </div>
            <div class="step-item">
                <h5>Испытания конструкций</h5>
                <p>Проводим проверку инженерных систем и запускаем их в работу</p>
            </div>
            <div class="step-item">
                <h5>Техническое обслуживание</h5>
                <p>Предоставляем гарантированное обслуживание ангаров и складов</p>
            </div>
        </div>
    </div>
</section>

<section class="benefits-section">
    <div class="content">
        <p>Мы проектируем ангары и склады с максимальной выгодой для заказчиков</p>
        <ul>
            <li>Экономия времени</li>
            <li>Надежные решения</li>
            <li>Доступные цены на проектирование</li>
        </ul>
    </div>
</section>

<section class="why-us-section">
    <div class="content">
        <h2>Почему выбирают нас для проектирования ангаров и складов?</h2>
        <div class="why-us-grid">
            <div class="why-us-item">
                <h3>Высокое качество документации</h3>
                <ul>
                    <li>Точные расчеты без излишних материалов</li>
                    <li>Подробные чертежи для строительства ангаров и складов</li>
                </ul>
            </div>
            <div class="why-us-item">
                <h3>Точные сметы</h3>
                <ul>
                    <li>Смета на проектирование и строительство ангаров в рыночных ценах</li>
                </ul>
            </div>
            <div class="why-us-item">
                <h3>Прозрачная цена</h3>
                <ul>
                    <li>Точная стоимость проектирования склада или ангара</li>
                </ul>
            </div>
            <div class="why-us-item">
                <h3>Гарантируем сроки</h3>
                <ul>
                    <li>Все проекты ангаров и складов сдаем в срок</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Новая секция -->
    <section class="why-us-section">
        <div class="content">

            <h2>Почему из сотен архитектурных бюро нас выбирают для проектирования сложных проектов?</h2>
            <div class="why-us-grid">
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Качество документации</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Расчет нагрузок без "перезакладов"</li>
                        <li>Подробная и понятная проектная документация</li>
                        <li>Детальная рабочая документация для строителей</li>
                    </ul>
                </div>
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Смета в комплекте</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Для каждого проекта делаем смету в реальных рыночных ценах на стройматериалы и работы подрядчиков</li>
                    </ul>
                </div>
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Понятная цена и сроки</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Прозрачная цена проекта, достаточная комплектация материалов</li>
                        <li>Делаем экономически выгодные проекты</li>
                    </ul>
                </div>
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Гарантируем сроки и стоимость</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Система управления проектированием и проект точно в срок</li>
                    </ul>
                </div>
                <div class="why-us-item">
                    <div class="sub">
                        <h3>Неограниченные правки</h3>
                        <div class="i"><img src="{% static 'main/images/папка.png' %}" alt="g"></div>
                    </div>
                    <ul>
                        <li>Корректируем проект столько, сколько нужно для достижения желаемого результата</li>
                        <li>Вовлечение в ваш проект</li>
                    </ul>
                </div>
                <div class="cta-box">
                    <p>Экономим клиентам 20-30% на строительстве за счет расчета нагрузок конструкторами и отсутствию ненужных "перезакладов".</p>
                    <button class="btn-primary">Получить КП</button>
                </div>
            </div>
        </div>
    </section>

    <section class="design-section">
        <div class="content">

            <h2>Проектируем для всех коммерческих и муниципальных объектов</h2>
            <div class="design-options">
                <div class="design-option">
                    <img src="{% static 'main/images/5bba6d47728711ef913c46f0d608bafb_1.jpeg' %}" alt="g">
                    <h3>Общественные места с большим количеством энергопотребителей</h3>
                    <p>Магазины, ТЦ, кафе, рестораны, кальянные, пиццерии, пекарни, бассейны, бани, сауны, SPA, офисы, фитнес-клубы, гостиницы</p>
                </div>
                <div class="design-option">
                    <img src="{% static 'main/images/0fb7565a728711efb929f630e7d772d9_1.jpeg' %}" alt="g">
                    <h3>Промышленные предприятия, государственные учреждения</h3>
                    <p>Производства, цеха, склады, заводы, школы, детсады, медицинские учреждения, концертные залы</p>
                </div>
                <div class="design-option">
                    <img src="{% static 'main/images/image 8.png' %}" alt="g">
                    <h3>Все виды инженерных систем</h3>
                    <p>Отопление, вентиляция и кондиционирование, канализация</p>
                </div>
            </div>

            <div class="design-cta">
                <div class="sub">
                    <h4>В списке нет что Вам необходимо?</h4>
                    <p>
                        Мы можем выполнить практически любые работы по
                        проектированию, даже если они не указаны на сайте.
                        Оставьте заявку и мы проконсультируем Вас.
                    </p>
                </div>
                <button class="btn-primary">Заказать консультацию</button>
            </div>
        </div>
    </section>
<!-- images -->
<div id="imageCarousel" class="carousel slide example-metallokonstrukcii" data-bs-ride="carousel">
    <!-- Индикаторы -->
    <ol class="carousel-indicators">
        {% for example in example_page_obj %}
        <li data-bs-target="#imageCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>

    <!-- Сами слайды -->
    <div class="carousel-inner">
        {% for example in example_page_obj %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            {% if example.image %}
            <img src="{{ example.image.url }}" class="d-block w-100" alt="{{ example.title }}">
            {% endif %}
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ example.title }}</h5>
                <p>{{ example.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Элементы управления каруселью -->
    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущее</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующее</span>
    </button>
</div>



{% endblock %}
