 <!-- end -->
<!--    <div class="reviews-section">-->
<!--        <div class="content">-->

<!--            <div class="sub">-->
<!--                <h2 class="reviews-title">Посмотрите реальные отзывы наших клиентов</h2>-->
<!--            <div class="slide-control">-->
<!--                <span>Листайте вправо</span>-->
<!--                <button class="slider-arrow left-arrow"><img src="{% static 'main/images/right aroow.PNG' %}" alt="arrow"></button>-->
<!--                <button class="slider-arrow right-arrow"><img src="{% static 'main/images/leftarrow.PNG' %}" alt="arrow"></button>-->
<!--            </div>-->
<!--            </div>-->
<!--            <div class="reviews-slider">-->
<!--                <div class="swiper mySwiper">-->
<!--                    <div class="swiper-wrapper">-->
<!--                        &lt;!&ndash; ! &ndash;&gt;-->
<!--                      <div class="swiper-slide">-->
<!--                        <div class="review">-->
<!--                            <div class="rev-control">-->
<!--                                <p class="review-highlight">-->
<!--                                    Благодарственное письмо<br>от ООО "Внуково Логистик"-->
<!--                                </p>-->
<!--                                <p class="review-text txt">-->
<!--                                    «...Все этапы работ велись с соблюдением плана-графика работ, а еженедельные отчеты о проделанной работе держали в курсе...»-->
<!--                                </p>-->
<!--                                <div class="podpis">-->
<!--                                    <p class="review-author">Генеральный директор<br><span>В.В. Митькин</span></p>-->
<!--                                    <img src="{%static 'main/images/podpis.png' %}" alt="Отзыв Внуково Логистик" class="review-image">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="rev-img">-->
<!--                                <img src="{% static 'main/images/35662171219317735563.png' %}" alt="Отзыв Внуково Логистик" class="review-image">-->
<!--                            <button class="review-button">Подробнее</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="swiper-slide">-->
<!--                        <div class="review">-->
<!--                            <div class="rev-control">-->
<!--                                <p class="review-highlight">-->
<!--                                    Благодарственное письмо<br>от ООО "Внуково Логистик"-->
<!--                                </p>-->
<!--                                <p class="review-text txt">-->
<!--                                    «...Все этапы работ велись с соблюдением плана-графика работ, а еженедельные отчеты о проделанной работе держали в курсе...»-->
<!--                                </p>-->
<!--                                <div class="podpis">-->
<!--                                    <p class="review-author">Генеральный директор<br><span>В.В. Митькин</span></p>-->
<!--                                    <img src="{% static 'main/images/podpis.png' %}" alt="Отзыв Внуково Логистик" class="review-image">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="rev-img">-->
<!--                                <img src="{% static 'main/images/35662171219317735563.png' %}" alt="Отзыв Внуково Логистик" class="review-image">-->
<!--                            <button class="review-button">Подробнее</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                      </div>-->


<!--                    </div>-->
<!--                    <div class="swiper-button-next"></div>-->
<!--                    <div class="swiper-button-prev"></div>-->
<!--                  </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->