<!-- Команда -->
    <div class="team-section">
        <div class="content">
            <h2 class="team-title">Команда, которая будет работать над подключением к электросетям вашего объекта</h2>
            <div class="team-members">
                <div class="team-member">
                    <img src="{% static 'main/images/16041712314299.png' %}" alt="Жанна" class="team-photo">
                    <div class="team-info">
                        <h3 class="team-name">Жанна</h3>
                        <div class="team-xp">
                            <p><span>34</span>выполненных проекта</p>
                            <p><span>6</span>лет опыта работ</p>
                        </div>
                        <p class="team-description">С 2013 года работает инженером. За это время работала с брендами "Теремок", "Детский мир", "Пятерочка".</p>

                        <button class="team-button">Посмотреть сертификаты</button>
                    </div>
                </div>
                <div class="team-member">
                    <img src="{% static 'main/images/16041712314299.png' %}" alt="Жанна" class="team-photo">
                    <div class="team-info">
                        <h3 class="team-name">Жанна</h3>
                        <div class="team-xp">
                            <p><span>34</span>выполненных проекта</p>
                            <p><span>6</span>лет опыта работ</p>
                        </div>
                        <p class="team-description">С 2013 года работает инженером. За это время работала с брендами "Теремок", "Детский мир", "Пятерочка".</p>

                        <button class="team-button">Посмотреть сертификаты</button>
                    </div>
                </div>

        </div>
        </div>

        <div class="team-photo-group">
            <img src="{% static 'main/images/22555171251768525330.png' %}" alt="Команда" class="team-photo-large">
        </div>
    </div>